<a href="https://colab.research.google.com/github/novay/amikom/blob/main/Artificial_Neural_Network_03_Loan_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table border='0'>
<tr>
  <td width='30%' bgcolor='ffffff'><figure>
  <center>
  <img src='https://scholar.google.co.id/citations?view_op=view_photo&user=IfPNmVoAAAAJ&citpid=1' width='100%' height='100%' />
  </center>
  </figure>
  </td>
  <td bgcolor='ffffff'>
    <h1 align='left'>Machine Learning</h1>
    <h1 align='left'>Artificial Neural Network (ANN)</h1>
  <p align="left">
  Lecturer : Dr. Andi Sunyoto, M.Kom <br />
  Email : andi@amikom.ac.id <br />
  Course : Hands-On of Artificial Intelligence <br />
  </p>
  </td>
</tr>
</table>

---

# Load data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# first neural network with keras tutorial
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

## Dataset: Loan Approval Data Set
URL Dataset: [https://www.kaggle.com/datasets/granjithkumar/loan-approval-data-set/data](https://www.kaggle.com/datasets/granjithkumar/loan-approval-data-set/data)

In [ ]:
# load dataset
url = "/content/drive/MyDrive/Colab Notebooks/Dataset/Loan_Dataset.csv"

loan = pd.read_csv(url)
loan.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

# Define Keras Model

In [ ]:
# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=11, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                144

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 16)                144

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 409 (1.60 KB)
Trainable params: 409 (1.60 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

# Features and split data

In [ ]:
#split dataset in features and target variable
feature_cols = ['Gender',	'Married',	'Dependents',	'Education',	'Self_Employed',	'ApplicantIncome',
                'CoapplicantIncome',	'LoanAmount',	'Loan_Amount_Term',	'Credit_History',	'Property_Area']
X = loan[feature_cols] # Features
y = loan.Loan_Status # Target variable

In [ ]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

# Evaluate the Keras model

In [ ]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=100, batch_size=10)

ValueError: ignored

# Make Prediction

In [ ]:
y_pred=(model.predict(X_test) > 0.5).astype(int)
# print(y_pred)

5/5 [==============================] - 0s 3ms/step

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
# import required modules
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

class_names=[0,1] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(cnf_matrix), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')